<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/propuestas.css">
</head>
<body>
    <img class ='logo' src= "/static/L1Hs5S9N_2x.jpg" onclick="location.href = '/'">
    <h1 class = 'title'>Propuestas del PPE</h1>
    
    <div class = 'content'>
        <div>
        <h3>Retroalimentacion de los alumnos</h3>
        <a class = 'enlace' href = '/feedback'><b>Disponible en esta página</b></a>
        <p>Por mucho que nos esforcemos, ningún partido será capaz de contemplar todas las oportuniades de mejora de la escuela, o como sus acciones
            impactarán a los alumnos con presición. Por ello, el PPE desea recibir sugerencias y quejas de los alumnos para mejorar su actuar 
        </p>
    </div>
    <img src = "/static/images/Mobile voting.jpg">
    </div>

    <div class = 'content'>
        <div>
        <h3>Papelería escolar</h3>
        <p>El PPE propone instalar una papeleria completamente equipada dentro de la institucion para uso del alumnado</p>
        </div>
        <img src = "/static/images/PapeleriaImg.jpg">
    </div>

    <div class = 'content'>
        <div>
        <h3>Enfermeria escolar</h3>
        <p>Actualmente, la escuela tiene una capacidad limitada para lidiar con emergencias medicas, por lo que proponemos adquirir una mayor
            cantidad y variedad de medicamentos, un botiquin de primeros auxilios, asi como contratar personal medico capacitado
        </p>
        </div>
        <img src = "/static/images/healthImg.png">
    </div>

    <div class = 'content'>
        <div>
        <h3>Compra de equipo</h3>
        <p>Aunque la escuela cuenta con instalaciones sobresalientes por decir lo menos, algunos aspectos de estas mismas resultan unsificientes, como
            es el caso de la falta de proyectores o los equipos del laboratorio de quimica e informatica. Por ello, el PPE propone la Compra
            de nuevos y más modernos equipos que funcionen adecuadamente
        </p>
        </div>
        <img src = "/static/images/Equipoimg.jpg">
    </div>

    <div class = 'content'>
        <div>
        <h3>Papel higienico en los baños</h3>   
        <p>Simple, el papel higienico actualmente se encuentra en prefectura en todo momento, por lo que los alumnos deben solicitarlo, el PPE propone
            que este sea reubicado a los baños de la institución para conveniencia de los alumnos
        </p>
    </div>
    <img src = "/static/images/papel.jpg">
    </div>

    <div class = 'content'>
        <div>
        <h3>Agua de acceso público</h3>
        <p>El agua es indispensable para el alumnado, sobretodo en una zona como tehuacán con altas temperaturas, sin embargo actualmente no hay agua gratuita
            en la escuela de acceso público, mas allá de la sala de maestros (Que requiere autorización) o la cooperativa, pero esta tiene un costo.
            Proponemos la instalacion de bebederos o garrafones públicos para uso de alumnos y maestros
        </p>
    </div>
    <img src = "/static/images/Agua.png">
    </div>


</body>
</html>