<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <h1 class = 'title'>Acerca del PPE</h1>
    <div class = 'box'>
        <div class = 'content'>
            <h2>Identidad</h2>
            <p>El PPE es un partido independiente conformado por un único alumno, Hernández Ramírez Alan Humberto, del 2do semestre.
                PPE son siglas de "Partido Progresista Estudiantil", como tal, el PPE es un partido centrado en el progreso en la calidad
                de la escuela, centandrose en la comunidad Estudiantil
            </p>
        </div>

        <div class = 'content'>
            <h2>¿Por qué votar por el PPE?</h2>
            <p>Para el PPE, la comunidad Estudiantil es la mayor prioridad de todas, por lo que estará siempre atento a sus necesidades,
            y actuará en consecuencia, apoyándose de Retroalimentación de los alumnos, así como de análisis propios. Tras identificar
            un problema se procederá a analizarlo, y plantear estrategias para su solución
            </p>
        </div>
        <div>
            <a href = 'https://www.instagram.com/ppe_sor_juana_ines_de_la_cruz/' target = _blank>
                <img src = '/static/logo-ig-png-instagram-logo-camel-productions-website-25.png' class ='insta'>
            </a>
        
            <img class ='logo' src= "/static/L1Hs5S9N_2x.jpg" onclick="location.href = '/'">
        </div>

    </div>

</body>
</html>