<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a PPE!</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script  type="text/javascript" src = "../static/function.js"></script>

</head>
<body>
    <h1 class = 'Title'>PPE</h1>
    <div class = 'content container'>
            <div class = 'Papeleria' id="Papeleria" onclick = 'addText("papeleria")'>
                <h2> Papeleria Escolar </h2>
            </div>
    </div>
</body>
</html>