<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a PPE!</title>
    <link rel="stylesheet" href="/static/welcome.css">

    <h1 class = 'title'>Bienvenido al PPE!</h1>
    <img class ='logo' src= "/static/L1Hs5S9N_2x.jpg">
    <div class = 'box'>
        <div class = 'container' onclick="location.href = '/propuestas' ">
            <h3 class = 'text'>Conoce nuestras propuestas!</h3>
        </div>

        <div class = 'container' onclick="location.href = '/about' ">
            <h3 class = 'text'>Conoce al PPE</h3>
        </div>
        
        <div class = 'container' onclick="location.href = '/feedback' ">
            <h3 class = 'text'>Haz una sugerencia</h3>
        </div>
    </div>

</head>
<body>

</body>
</html>